NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
UPSTASH_REDIS_REST_URL="https://example.upstash.io"
UPSTASH_REDIS_REST_TOKEN="example-token"

# Backblaze B2 Storage Configuration
B2_ENDPOINT=  
B2_REGION=                          
B2_ACCESS_KEY_ID=            
B2_SECRET_ACCESS_KEY=   
B2_BUCKET_NAME=             
